// Breakpoints for each query
$smartphone: 480px;
$tabletPortrait: 767px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1400px;

$color-primary-dark: #f7931a;
$color-primary-light: #ff9500;
$color-vulcan: #13161f;
$color-white: #fff;
