body {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.6rem;
}

.heading-1 {
  font-size: 5rem;
  font-weight: 400;
}

.heading-2 {
  font-size: 162.5%;
  font-weight: normal;
  color: #ff7e00;
}

.heading-3 {
  font-size: 2rem;
}
